html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%;
  font-family: Roboto;
  background-color: #ececec;
  height: 100%; }

body {
  font-size: 1.6rem;
  color: #4B4F56;
  background-color: #ececec;
  height: 100%; }

h1 h2, h3, h4, h5, h6 {
  font-weight: bold; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.6rem; }

.bold {
  font-weight: bold; }

.center {
  text-align: center !important; }

.relative {
  position: relative; }

.flex {
  display: flex; }

.flex-item-1 {
  flex: 1; }

.flex-item-2 {
  flex: 2; }

.sharePointLink {
  /*margin-left: auto;*/
  padding-right: 20px; }

.margin-left-auto {
  margin-left: auto; }

.dfa-body {
  max-width: 1000px;
  padding: 20px 0;
  margin: auto; }
  .dfa-body .page-header {
    font-weight: bold;
    font-size: 1.6rem; }

.tile-container {
  display: flex;
  padding: 35px 0; }
  .tile-container a {
    color: inherit;
    text-decoration: none; }

.dfa-tile {
  width: 250px;
  margin: 0 7px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  background-color: #265cba;
  color: #fff;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
  .dfa-tile .dfa-tile-icon {
    font-size: 3.2rem; }
  .dfa-tile .tile-icon-container {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px;
    background-color: #fff;
    font-size: 2rem;
    display: flex;
    margin: auto; }
    .dfa-tile .tile-icon-container i {
      font-size: 3.5rem;
      color: #4B4F56;
      margin: auto; }
  .dfa-tile .dfa-tile-text {
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.6rem; }

.dfa-tile:hover {
  background-color: rgba(38, 92, 186, 0.8); }

.notification-header {
  display: flex;
  padding: 10px 0;
  background-color: #fff; }
  .notification-header a {
    text-decoration: none;
    color: inherit;
    display: flex; }
  .notification-header div {
    display: flex;
    margin: auto; }
  .notification-header span {
    margin: auto; }
  .notification-header .notification-number {
    padding: 3px; }
  .notification-header .notification-text {
    color: #265cba;
    font-weight: bold; }
  .notification-header .notification-icon {
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15); }
  .notification-header .notification-close-icon {
    cursor: pointer; }
  .notification-header .notification-close-icon i {
    font-size: 1.6rem;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    margin-left: 5px; }

.notification-container {
  padding: 35px 0; }

.notification-item {
  display: flex;
  padding: 5px 15px;
  padding-top: 15px;
  background-color: #fff;
  border-bottom: 1px solid #265cba; }

.notification-item-text .text-header {
  font-weight: bold; }
  .notification-item-text .text-header span:last-child {
    color: #265cba; }

.notification-item-text .text-status {
  display: flex; }
  .notification-item-text .text-status .approval-text {
    font-style: italic;
    font-size: 1.2rem; }
  .notification-item-text .text-status .md-button {
    color: #265cba !important;
    border: 1px solid !important;
    line-height: 2rem !important; }
  .notification-item-text .text-status span, .notification-item-text .text-status md-button {
    margin: auto; }

.notification-item-buttons {
  margin: auto 0 auto auto;
  text-align: right; }

.dfa-loader {
  z-index: 63;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.dfa-fakeLoader {
  height: 100%;
  z-index: 5;
  border-radius: 100px;
  align-content: center;
  justify-content: center;
  display: flex; }
  .dfa-fakeLoader .fakeLoader-container {
    position: fixed;
    top: 40%;
    /*max-width: 50%;
    max-height: 150px;
    margin: auto;
    text-align: center;*/
    background-color: #fff;
    padding: 30px 100px;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }
  .dfa-fakeLoader .fakeLoader-spinner md-progress-circular {
    margin: auto;
    width: 50px;
    height: 50px; }
  .dfa-fakeLoader .fakeLoader-text {
    margin: 30px 0 0px 0;
    font-weight: bold;
    font-size: 2rem; }

.dfa-header {
  background-color: #CD5E08;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
  z-index: 61;
  position: relative; }
  .dfa-header .brand {
    text-align: center; }
  .dfa-header .brand-subheader {
    font-weight: lighter;
    font-size: 1.2rem;
    font-style: italic;
    margin: -3px;
    padding: 0; }
  .dfa-header section {
    margin: 0px 15px; }
  .dfa-header section section {
    margin: 0;
    padding: 10px 15px;
    display: flex; }
  .dfa-header section section div {
    font: Bold 2rem Roboto;
    color: #fff;
    padding: 2px 10px; }
  .dfa-header .header-menu-button {
    position: absolute;
    padding: 0px 30px;
    margin-top: 0px;
    cursor: pointer;
    outline: 0;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
  .dfa-header .header-menu-button:hover {
    background-color: rgba(158, 158, 158, 0.2);
    outline: 0; }
  .dfa-header .header-menu-button i,
  .dfa-header .header-menu-button span {
    display: block;
    text-align: center;
    font-size: 3rem; }
  .dfa-header .header-menu-button span {
    font-size: 1.2rem;
    font-weight: lighter; }
  .dfa-header section section div:last-child {
    margin: auto; }

.dfa-sidebar {
  position: fixed !important;
  top: 0;
  padding-top: 58px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  width: 500px;
  height: 100%;
  z-index: 60; }
  .dfa-sidebar section {
    padding: 20px; }
    .dfa-sidebar section .mydfa-header {
      padding: 10px 0;
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
      color: #265cba; }
    .dfa-sidebar section .mydfa-header-header {
      font-weight: bold;
      font-size: 1.6rem !important;
      text-align: center !important;
      color: #265cba; }
    .dfa-sidebar section .mydfa-content {
      border-top: 1px solid #ddd;
      padding-top: 20px; }
    .dfa-sidebar section .mydfa-content div:first-child {
      text-align: left;
      font-size: 1.2rem; }
    .dfa-sidebar section .dfa-container {
      display: flex;
      padding: 5px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      margin-bottom: 1px; }
      .dfa-sidebar section .dfa-container div {
        padding: 7px 4px;
        flex: 2;
        font-size: 1.4rem;
        margin: auto;
        text-align: right; }

.md-sidenav-backdrop {
  position: fixed !important; }

.dfa-legalText {
  text-align: justify;
  font-size: 12px;
  padding-top: 20px; }

.dfa-people {
  /*padding: 15px;*/ }
  .dfa-people h4 {
    font-weight: bold;
    font-size: 3rem;
    margin: auto 0; }

.dfa-people-list-container {
  max-width: 1400px;
  margin: auto;
  font-size: 1.4rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #fff; }

.dfa-people-list-repeatedItem:nth-child(odd) {
  background-color: #f0f0f0; }

.dfa-people-list div {
  flex: 2;
  text-align: center;
  margin: auto; }

.dfa-people-list div:first-child {
  flex: 1; }

.dfa-people-list-repeatedItem {
  border-bottom: 1px solid #ccc; }

.dfa-people-list-header {
  font-weight: bold;
  font-size: 1.6rem;
  padding: 15px 0; }

.window-container {
  padding: 20px; }
  .window-container .window-header {
    font-size: 2.4rem;
    font-weight: bold; }
  .window-container .window-content {
    padding: 10px 0; }
    .window-container .window-content .content-label {
      font-size: 1.4rem;
      font-style: italic; }
    .window-container .window-content .flex-item-1 div:last-child {
      font-weight: bold; }
    .window-container .window-content .content-manager {
      display: flex;
      padding: 10px 0; }
      .window-container .window-content .content-manager div:first-child {
        padding: 5px 0; }
      .window-container .window-content .content-manager div:last-child {
        padding: 5px;
        font-weight: bold; }
    .window-container .window-content h6 {
      font-size: 1.8rem;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 10px; }
    .window-container .window-content .allocated-dfa-container div {
      padding: 2px; }
  .window-container .window-footer {
    text-align: center; }

.dfaHolderList-subDel-flexColumns .subDel-icon-col {
  flex: 1; }

.dfaHolderList-subDel-flexColumns .plane {
  border-radius: 50%;
  border: 0.1px solid;
  padding: 5px; }

.dfaHolderList-subDel-flexColumns .subDel-text-col {
  flex: 4;
  margin: auto; }

.dfaHolderList-subDel-flexColumns .subDel-icon-indicator {
  text-align: center;
  cursor: pointer; }
  .dfaHolderList-subDel-flexColumns .subDel-icon-indicator figure {
    font-size: 0.9rem !important; }
  .dfaHolderList-subDel-flexColumns .subDel-icon-indicator .subDel-icon-assignee,
  .dfaHolderList-subDel-flexColumns .subDel-icon-indicator .subDel-icon-initiator {
    color: #fa3e3e; }

.window-subDel-section {
  background-color: rgba(255, 217, 102, 0.38);
  padding: 15px 10px;
  border-radius: 10px; }
  .window-subDel-section ul {
    list-style-type: initial;
    padding: 0 30px; }
    .window-subDel-section ul li {
      padding: 5px; }
  .window-subDel-section .subDel-dates-container {
    font-size: 1.4rem;
    font-style: italic; }

.dfaNumberInput {
  max-width: 400px; }

.filters-container .filters-dfaHolder-checkbox {
  margin-left: auto;
  margin-right: 20px; }

.filters-container .filters-dfaHolder-egmFilter {
  min-width: 350px;
  max-width: 600px; }

.filters-container .filters-dfaHolder-costCentre {
  min-width: 350px;
  max-width: 600px; }

.filters-container .filters-dfaHolder-subDelSearchContainer {
  margin-bottom: -25px; }
  .filters-container .filters-dfaHolder-subDelSearchContainer button {
    max-height: 20px;
    padding-top: 0; }

.dfaHolder-form-header h3 {
  color: #3f51b5;
  margin: auto 0;
  padding-left: 10px; }

.dfaHolder-assignEmployee-container {
  padding: 0 0 20px 0; }
  .dfaHolder-assignEmployee-container h6 {
    margin-bottom: 10px; }

.dfaHolder-employmentDate-container h6 {
  margin: 0 2px; }

.dfaHolder-employmentDate-container .flex {
  margin: 0 -15px;
  padding-top: 10px; }

.dfaHolder-contractor-container {
  margin: 0 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.dfaHolder-assignRole-container md-input-container {
  flex: 2; }

.dfaHolder-assignRole-container .assignRole-arrow {
  padding: 20px;
  flex: 1;
  text-align: center; }

.dfaholderCheckbox {
  display: flex; }
  .dfaholderCheckbox .md-label {
    display: flex; }
    .dfaholderCheckbox .md-label span {
      margin: auto; }

.dfaHolder-notes-container .md-input {
  margin-top: 7px;
  border-width: 1px;
  padding: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-left: 1px solid rgba(0, 0, 0, 0.12) !important; }

.dfaHolder-notes-container .md-input-container:not(.md-input-invalid).md-input-focused {
  border-width: 1px; }

.dfaHolder-dfa-values {
  padding: 20px 0; }

.form-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative; }

.role-form {
  background: #fff;
  padding: 25px;
  margin: 50px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
  .role-form h3 {
    display: flex;
    font-size: 3rem;
    font-weight: bold; }
    .role-form h3 i {
      font-size: 3rem;
      margin-right: 5px; }
  .role-form h4 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 20px;
    display: flex; }
    .role-form h4 i {
      font-size: 2.4rem;
      margin-right: 5px; }
  .role-form .role {
    margin-top: 24px !important; }
  .role-form .secondDivider {
    margin-top: 2px;
    background-color: #DCDCDC;
    border-color: #DCDCDC;
    color: #DCDCDC; }
  .role-form .firstDivider, .role-form .thirdDivider {
    margin-top: 20px; }
  .role-form .buttonPanel {
    display: flex; }
    .role-form .buttonPanel div {
      margin: auto; }

.errorText {
  color: #dd2c00; }

.roleForm-dfaMaxValue-counter {
  font-size: 1.2rem;
  right: 0px;
  top: -5px;
  position: absolute; }

.role-list-header {
  display: flex;
  padding: 15px 0 0 15px; }
  .role-list-header h4 {
    font-weight: bold;
    font-size: 3rem;
    margin: auto 0; }
  .role-list-header a {
    text-decoration: none; }
  .role-list-header .create-role {
    margin: auto 0 auto auto; }
    .role-list-header .create-role .md-button {
      display: flex; }
    .role-list-header .create-role i {
      margin-right: 5px; }

.role-list-container {
  margin-top: 20px; }
  .role-list-container .label-header {
    font-size: 1.4rem;
    font-weight: bold;
    max-width: 1400px;
    margin: auto; }
  .role-list-container .md-button {
    margin: 0;
    padding: 0; }
  .role-list-container .dfa-people-list .roleName {
    flex: 2; }
  .role-list-container .dfa-people-list div {
    flex: 1; }

.subDel-person-section {
  padding: 20px 0; }
  .subDel-person-section md-input-container {
    margin-left: 41px;
    max-width: 350px; }

.subDel-date-section .flex:last-child {
  padding-top: 10px; }

.subDel-date-section md-input-container {
  margin: 10px 20px; }

.subDel-policy-section {
  padding: 10px 0 20px 0;
  margin: 0px 10px; }
  .subDel-policy-section .subDel-policy-text {
    font-size: 1.4rem;
    padding-top: 5px; }
    .subDel-policy-section .subDel-policy-text .flex div:first-child {
      font-weight: bold; }
    .subDel-policy-section .subDel-policy-text .flex div:last-child {
      font-style: italic;
      padding-left: 5px; }
    .subDel-policy-section .subDel-policy-text .subDel-policy-link {
      font-size: 1.4rem;
      font-weight: bold;
      margin-top: 10px; }

.subDel-person-section .flex span,
.subDel-date-section .flex span {
  margin: auto 0;
  padding: 10px;
  font-weight: bold; }

span.dfa-circle {
  border-radius: 50%;
  border: 2px solid #3f51b5;
  text-align: center;
  color: #3f51b5;
  display: flex;
  height: 15px;
  width: 15px;
  padding: 10px; }
  span.dfa-circle .dfa-circle-text {
    margin: auto;
    text-align: center;
    padding: 0;
    color: #3f51b5;
    font-weight: bold; }

.subDel-dfa-section {
  padding: 20px 0; }
  .subDel-dfa-section h4 {
    padding: 5px 0; }

.subDel-datePeriodError-container {
  padding: 15px; }

.errorContainer {
  padding: 15px;
  border: 1px solid #dd2c00;
  background-color: #f9dcde;
  margin-bottom: 5px; }
  .errorContainer .icon-item {
    margin: auto;
    padding-right: 20px; }
  .errorContainer .flex-item-1, .errorContainer .flex-item-2 {
    margin: auto; }
  .errorContainer i {
    font-size: 3.2rem; }

.subDel-repeatedDates-overlaps ul {
  padding: 15px 30px;
  list-style-type: disc !important;
  font-size: 1.4rem; }
  .subDel-repeatedDates-overlaps ul li {
    margin: -5px 0;
    border-bottom: 1px solid #eee;
    font-size: 1.4rem; }
    .subDel-repeatedDates-overlaps ul li .flex-item-1, .subDel-repeatedDates-overlaps ul li .flex-item-2 {
      margin: auto; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  /* http://stackoverflow.com/questions/28417056/how-to-target-only-ie-any-version-within-a-stylesheet */
  .dfaNumberInput input {
    min-width: 400px; }
  .tile-icon-container {
    border-radius: 50%;
    height: 35px !important;
    width: 35px !important; }
  .notification-text {
    height: 10px; }
  .notification-header .notification-close-icon {
    height: 29px; } }

.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  margin-top: 46px;
  padding-bottom: 47px; }

.md-button {
  padding: 3px 10px;
  border-radius: 5px;
  text-transform: none;
  font-weight: bold; }

.link-btn {
  color: #265cba !important;
  border: 1px solid !important;
  background: #fff; }

.dfa-searchbar {
  max-width: 450px;
  margin: -65px auto auto;
  padding: 20px 40px 15px 30px; }
  .dfa-searchbar md-input-container {
    margin: 0;
    padding-bottom: 0; }
  .dfa-searchbar input {
    background-color: #fff;
    margin-top: 2px;
    border: 1px solid #ccc;
    border-top: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    padding: 2px;
    padding-left: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 5px; }
  .dfa-searchbar i {
    color: #4B4F56; }

/*********************
Common Form CSS
    Below is the CSS which can be used as a template
    for creating any of the forms.

**********************/
.filters-container {
  padding: 15px 30px;
  margin: 15px 30px;
  margin-top: -15px;
  margin-bottom: 0;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .filters-container h6 {
    font-size: 1.8rem;
    font-weight: bold; }

.filtered-result-container {
  font-size: 1.4rem;
  margin-bottom: 10px; }
  .filtered-result-container .filtered-result-label {
    font-weight: bold; }
  .filtered-result-container .clearFilter-btn {
    padding: 3px 10px;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    max-width: 80px; }
    .filtered-result-container .clearFilter-btn i {
      font-size: 1.4rem; }
    .filtered-result-container .clearFilter-btn i, .filtered-result-container .clearFilter-btn span {
      margin: auto 0; }

.dfa-list-container {
  margin: 15px 30px; }

.dfa-form-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative; }

.dfa-form {
  background: #fff;
  padding: 25px;
  margin: 50px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
  .dfa-form h1,
  .dfa-form h2,
  .dfa-form h3,
  .dfa-form h4,
  .dfa-form h5,
  .dfa-form h6 {
    font-weight: bold; }
  .dfa-form h3 {
    font-size: 3rem; }
  .dfa-form .dfa-form-header {
    padding: 10px 0 20px 0; }
    .dfa-form .dfa-form-header h1, .dfa-form .dfa-form-header h2, .dfa-form .dfa-form-header h3, .dfa-form .dfa-form-header h4, .dfa-form .dfa-form-header h5, .dfa-form .dfa-form-header h6, .dfa-form .dfa-form-header i {
      margin: auto 0; }
    .dfa-form .dfa-form-header button {
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
      background-color: #dd2c00;
      color: #fff; }
      .dfa-form .dfa-form-header button i {
        color: #fff; }
      .dfa-form .dfa-form-header button:hover {
        background-color: #ad2300 !important;
        color: #fff; }
  .dfa-form .dfa-form-body {
    padding: 0 15px; }
  .dfa-form .dfa-form-footer {
    padding: 20px 0 10px 0;
    display: flex; }
    .dfa-form .dfa-form-footer .button-row {
      margin: auto; }

/**Generic Style for DFA Values in a List Form*/
.dfa-values-container {
  padding: 5px 15px;
  font-weight: normal;
  font-size: 1.4rem;
  border-bottom: 1px solid #d0d2d3; }
  .dfa-values-container div:first-child {
    padding: 3px 0; }
  .dfa-values-container div:last-child {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 4px 3px; }

.dfa-values-container:first-child {
  margin-top: 7px; }

.dfa-values-container:last-child {
  border: 0; }

.dfa-values-container:hover {
  background-color: #fafafa; }

.filtersRow {
  display: flex; }
  .filtersRow md-input-container,
  .filtersRow md-checkbox {
    margin: auto 0; }

/***********Outage Panel*************/
.window-overlay {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 62; }

.window {
  background-color: #EDEFF0;
  border-radius: 5px;
  /* display: none; */
  margin: 3pc 0 5pc;
  max-width: 70%;
  width: 1000px;
  z-index: 63;
  top: 0;
  left: 25%;
  position: fixed;
  overflow-y: scroll;
  max-height: 800px; }

.window-header-label {
  font-size: 1.4rem;
  text-align: right;
  font-style: italic;
  font-weight: normal;
  line-height: 1.8rem; }

.window-content-panel, .window-container .window-content .allocated-dfa-container, .window-content-notes {
  background-color: #fff;
  border-radius: 3px;
  padding: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.23);
  font-size: 1.4rem; }

.window-content-notes {
  padding: 10px;
  max-height: 300px;
  overflow-y: scroll; }

/**********************************/
.dfa-generic-list {
  padding: 50px 25px;
  /*max-width: 1200px;
    margin: auto;*/
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .dfa-generic-list .generic-list-header, .dfa-generic-list .repeated-item-container {
    display: flex; }
    .dfa-generic-list .generic-list-header div, .dfa-generic-list .repeated-item-container div {
      flex: 2;
      padding: 5px 5px;
      margin: auto; }
    .dfa-generic-list .generic-list-header div:first-child, .dfa-generic-list .repeated-item-container div:first-child {
      flex: 1; }
    .dfa-generic-list .generic-list-header div:nth-child(2), .dfa-generic-list .repeated-item-container div:nth-child(2) {
      flex: 3; }
    .dfa-generic-list .generic-list-header div:nth-child(4),
    .dfa-generic-list .generic-list-header div:nth-child(5), .dfa-generic-list .repeated-item-container div:nth-child(4),
    .dfa-generic-list .repeated-item-container div:nth-child(5) {
      flex: 1;
      text-align: center; }
  .dfa-generic-list .generic-list-header div {
    font-weight: bold;
    font-size: 1.4rem;
    /*border-top: 1px solid $borderColor;*/
    border-bottom: 1px solid #ccc;
    text-align: left; }
    .dfa-generic-list .generic-list-header div:first-child {
      text-align: left; }
  .dfa-generic-list .repeated-item-container {
    border-bottom: 1px solid #ccc; }
    .dfa-generic-list .repeated-item-container:hover {
      background-color: #fafafa; }
    .dfa-generic-list .repeated-item-container div:first-child {
      color: #ccc; }

